body {
    background-color: rgb(255, 255, 255);
    color: black;
    }
    
    h1 {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    cursor: pointer;
    right: 900px;
    top: 10px; 
    z-index: 1; 
    }
    
    h2 {
    position: absolute;
    right: 1485px;
    top: 100px;
    }
    
    .botaohome {
        display: inline-block;
        padding: .75rem 1.25rem;
        border-radius: 10rem;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        transition: color 0.3s;
        position: absolute; 
        top: 30px; /* Posição no topo */
        right: 600px; /* Posição na direita */ 
        cursor: pointer;
        overflow: hidden;
        z-index: 1; 
    }
    
    .botaohome:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 10rem;
        z-index: -2;
    }
    
    .botaohome:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgba(0, 200, 255, 0.85); /* Cor fundo mais escura */
        transition: width 0.5s; /* Alteração da transição apenas para a largura */
        border-radius: 10rem;
        z-index: -1;
    }
    
    .botaohome:hover {
        color: rgb(255, 255, 255);
    }
    
    .botaohome:hover:before {
        width: 200%;
    }
    
    .botaohotel {
        display: inline-block;
        padding: .75rem 1.25rem;
        border-radius: 10rem;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        transition: color 0.3s;
        position: absolute; 
        top: 30px; /* Posição no topo */
        right: 480px; /* Posição na direita */ 
        cursor: pointer;
        overflow: hidden;
        z-index: 1; 
    }
    
    .botaohotel:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 10rem;
        z-index: -2;
    }
    
    .botaohotel:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgba(0, 200, 255, 0.85); /* Cor fundo mais escura */
        transition: width 0.5s; /* Alteração da transição apenas para a largura */
        border-radius: 10rem;
        z-index: -1;
    }
    
    .botaohotel:hover {
        color: rgb(255, 255, 255);
    }
    
    .botaohotel:hover:before {
        width: 200%;
    }
    
    
    
     
    .botaolazer {
        display: inline-block;
        padding: .75rem 1.25rem;
        border-radius: 10rem;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        transition: color 0.3s;
        position: absolute; 
        top: 30px; /* Posição no topo */
        right: 360px; /* Posição na direita */ 
        cursor: pointer;
        overflow: hidden;
        z-index: 1; 
    }
    
    .botaolazer:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 10rem;
        z-index: -2;
    }
    
    .botaolazer:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgba(0, 200, 255, 0.85); /* Cor fundo mais escura */
        transition: width 0.5s; /* Alteração da transição apenas para a largura */
        border-radius: 10rem;
        z-index: -1;
    }
    
    .botaolazer:hover {
        color: rgb(255, 255, 255);
    }
    
    .botaolazer:hover:before {
        width: 200%;
    }

    .botaocontato {
        display: inline-block;
        padding: .75rem 1.25rem;
        border-radius: 10rem;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        transition: color 0.3s;
        position: absolute; 
        top: 30px; /* Posição no topo */
        right: 210px; /* Posição na direita */ 
        cursor: pointer;
        overflow: hidden;
        z-index: 1; 
    }
    
    .botaocontato:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 10rem;
        z-index: -2;
    }
    
    .botaocontato:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgba(0, 200, 255, 0.85); /* Cor fundo mais escura */
        transition: width 0.5s; /* Alteração da transição apenas para a largura */
        border-radius: 10rem;
        z-index: -1;
    }
    
    .botaocontato:hover {
        color: rgb(255, 255, 255);
    }
    
    .botaocontato:hover:before {
        width: 200%;
    }

    .botaoprecheckin {
        display: inline-block;
        padding: .75rem 1.25rem;
        border-radius: 10rem;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        transition: color 0.3s;
        position: absolute; 
        top: 30px; /* Posição no topo */
        right: 15px; /* Posição na direita */ 
        cursor: pointer;
        overflow: hidden;
        z-index: 1; 
    }
    
    .botaoprecheckin:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 10rem;
        z-index: -2;
    }
    
    .botaoprecheckin:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgba(0, 200, 255, 0.85); /* Cor fundo mais escura */
        transition: width 0.5s; /* Alteração da transição apenas para a largura */
        border-radius: 10rem;
        z-index: -1;
    }
    
    .botaoprecheckin:hover {
        color: rgb(255, 255, 255);
    }
    
    .botaoprecheckin:hover:before {
        width: 200%;
    }

    .imagem1 {
    position: absolute;
    top: 100px;
    right: 1px; 
    cursor: pointer;
    } 
    .container { 
    max-width: 1200px;  
    }   

    .barra-incentivo {
        background-color: rgba(0, 255, 255, 0.607);
        color: rgb(0, 0, 0);
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    
    .barra-incentivo p {
        margin: 0;
        font-size: 20px;
    }
    
    .barra-incentivo button {
        height: 35px;
        width: 150px;
        background-color: white;
        color: black;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        font-size: 16px;
    } 
 
    .maps {
        position: absolute; 
        top: 900px; 
        right: 400px; 
    }
